.container {
    padding: 0;
}

#checkbox-menu + label {
    display: inline;
    margin: 0;
}

.menu, .services-text-bg, .feedback-form, .back-to-top::after {
    box-sizing: content-box;
}

.menu hr {
    border-style: inset;
    border-width: 1px;
}

.address-form hr, .footer-vertical-line {
    border: none;
    border-style: inset;
    border-width: 1px;
}

.head-logo img, .about-us-col img {
    vertical-align: baseline;
}

.header-button button, .about-us-button button, .feedback-form button, .address-form button {
    font-family: Arial;
    line-height: normal;
}

.input-group-item input {
    font-family: Arial;
    font-size: 13.3333px;
    line-height: normal;
}

.section-title-text {
    line-height: normal;
    margin: 0;
}

.company-name {
    font-size: 32px;
    line-height: normal;
    margin: 0;
}

.footer-bg {
    padding-bottom: 10px;
}

.title {
    color: #ff0000;
    margin: 16px 0;
}

.content {
    font-size: 20px;
    letter-spacing: 1.2px;
    text-align: justify;
    margin-bottom: 100px;
}

.content ul {
    list-style: none;
}

.content ul li {
    position: relative;
    padding-left: 21px;
}

.content ul li:before {
    content: '–';
    position: absolute;
    left: 0;
}

.list-group-custom .list-group-item {
    font-size: 20px;
    letter-spacing: 1.2px;
}

.list-group-custom .list-group-item:focus,
.list-group-custom .list-group-item:hover {
    background: #e2443e;
    color: #fff;
}

.feedback-form form textarea {
    padding: 5px;
}

.feedback-form form textarea:focus {
    background: #fff;
    opacity: 0.8;
}