@font-face {
    font-family: 'Circe';
    src: url('../fonts/circe.eot'); /* IE 9 Compatibility Mode */
    src: url('../fonts/circe.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
        url('../fonts/circe.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/circe.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
        url('../fonts/circe.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/circe.svg#circe') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
    font-family: 'Circe Light';
    src: url('../fonts/circe_light.eot'); /* IE 9 Compatibility Mode */
    src: url('../fonts/circe_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
        url('../fonts/circe_light.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/circe_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
        url('../fonts/circe_light.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/circe_light.svg#circe_light') format('svg'); /* Chrome < 4, Legacy iOS */
}
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Circe';
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
/*---------------Header Начало-----------------*/
nav{
    width: 100%;
    background: #b9b9b9;
}
#checkbox-menu,
.toggle{
    display: none;
}
.menu{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.vertical-nav-line{
    transform: rotate(90deg);
    width: 50px;
    background-color: #c1c1c1;
    border-color: #c1c1c1;
}
.menu li{
    display: flex;
    flex-direction: column;
}
.menu li a{
    color: #000;
    text-decoration: none;
    align-self: center;
    font-size: 15px;
    padding: 10px 15px;
    transition: background .2s linear;
    width: 170px;
    text-align: center;
}
.menu li a:hover{
    background: #e2443e;
    border-radius:5px;
    color: #fff;
}
.head-block{
    padding-top: 10px;
    padding-bottom: 6px;
}
.header-button button{
    background-color: #9b2d30;
    padding: 18px 37px;
    border:none;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1.2px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30px;
}
.header-button button:hover{
    background-color: #e2443e;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.head-block-wrapper{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
}
.head-block-col{
    display: flex;
    font-family: 'Circe';
    align-items: center;
}
.head-block-col img{
    margin-right: 30px;
}
.head-info{
    font-size: 14px;
}
.header-number{
    font-size: 16px;
}
/*---------------Header Конец-----------------*/
/*--------------sevices начало-----------------*/
.services .container{
    display: flex;
    justify-content: flex-end;
}
.services-bg{
    background-size: cover;
    height: 600px;
}
.services-text-bg{
    background-image: url('../images/services.png');
    max-width: 580px;
    max-height: 300px;
    padding: 30px 30px 50px 50px;
    margin-right: 50px;
    margin-left: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.services-text{
    font-family: 'Circe';
    font-size: 33px;
    letter-spacing: 1.2;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
.services{
    margin-bottom: 40px;
}
/*---------------sevices Конец-----------------*/
.section-title{
    overflow: hidden;
    text-align: center;
    margin-bottom: 30px;
}
.section-title span {
    display: inline-block;
    vertical-align: middle;
}
.section-title:before,
.section-title:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 2px;
    background-color: #ff0000;
    position: relative;
}
.section-title:before {
    margin-left: -100%;
    left: -25px;
}
.section-title:after {
    margin-right: -100%;
    right: -25px;
}
.section-title-text{
    color: #460100;
    font-family: 'Circe';
    font-size: 28px;
    font-weight: 300;
}
/*---------------about-us начало-----------------*/
.about-us-col img{
    max-width: 500px;
    position: absolute;
}
.about-us-col img{
    margin-top: -30px;
}
.about-us-col:last-child{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 400px;
    background: #fbd8ac;
    padding: 28px;
    max-width: 800px;
}
.about-us-text{
    font-size: 23px;
}
.about-us-button button{
    background-color: #9b2d30;
    padding: 18px 37px;
    border:none;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1.2px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 15px;
}
.about-us-button button:hover{
    background-color: #e2443e;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.about-us-row{
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
    height: 400px;
}
/*---------------about-us Конец-----------------*/
/*---------------price начало-----------------*/
.price-bg{
    background-image: url('../images/price.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    margin-bottom: 40px;
}
.price-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 70px 50px;
}
.price-col img{
    width: 160px;
    margin-bottom: 29px;
}
.price-col{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 22px;
}
/*---------------price Конец-----------------*/
/*---------------feedback начало-----------------*/
.feedback-bg{
    background-image: url('../images/feedback.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 700px;
}
.feedback-wrapper{
    display: flex;
    justify-content: flex-end;
    padding-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
}
.feedback-form form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    margin-right: 70px;
    margin-top: 40px;
}
.feedback-form form input{
    border-radius: 12px;
    border: none;
    text-align: center;
    background: #fff;
    opacity: .8;
    padding: 8px 40px;
    font-family: 'Circe';
    font-weight: 400;
    color: black;
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 2;
}
.feedback-form form input::placeholder{
    color: #000000;
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 1.3;
    line-height: 2;
}
.feedback-form form label{
    color: #aaaaaa;
    font-size: 22px;
    text-align: center;
}
.feedback-form form textarea{
    background: none;
    border: 2px solid #aaaaaa;
    margin-bottom: 30px;
}
.feedback-form form button{
    color: #fff;
    background: #aaaaaa;
    margin: 0 auto;
    width: 170px;
    padding: 15px 19px;
    border-radius: 15px;
    border:none;
    cursor: pointer;
    font-size: 14px;
}
/*---------------feedback Конец-----------------*/
/*---------------address начало-----------------*/
.address-row{

}
.address{
}
.address-col .container{

}
.address-form{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-left: 50px;
    max-width: 600px;
}
.address-form form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 600px;
    padding: 40px 30px;
    background-color: #ededed;
}
.address-form form img{
    max-width: 200px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.address-form form hr{
    margin-top: 25px;
    margin-bottom: 35px;
}
.input-group{
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}
.input-group-item input{
    border:none;
    color: black;
    padding: 5px;
    margin-right: 7px;
}
.input-group-item i{
    background-color: #fff;
    margin-top: 2px;
    padding: 3.5px 4px 6.5px 4px;
}
.address-form form button{
    margin: 0 auto;
    background-color: #9b2d30;
    padding: 25px 30px;
    border:none;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1.2px;
    border-radius: 5px;
    cursor: pointer;
    max-width: 240px;
}
.address-form form button:hover{
    background-color: #e2443e;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.address-form p i{
    margin-right: 10px;
}

.address-col:first-child{
    max-width: 100%;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.address-col:last-child{
    position: relative;
    margin-top: -520px;
    display: flex;
    max-width: 600px;
    float: right;
    justify-content: flex-end;
}
/*---------------address Конец-----------------*/
/*----------------footer Начало---------------*/
.footer-bg{
    padding-top: 135px;
    background-image: url('../images/footer.png');
    background-size: cover;
    background-position: center;
}
.footer-row{
    margin: 50px 50px 0 50px;
    display: flex;
    justify-content: space-between;
}
.footer-col ul{
    list-style-type: none;
    color: #fff;
}
.footer-col ul:first-child{
    margin-right: 15px;
}
.footer-col:first-child li{
    margin-bottom: 20px;
}
.footer-col:last-child ul{
    line-height: 2.5;
}
.footer-col ul li{
    display: flex;
}
.footer-col ul li a{
    text-decoration: none;
    color: #fff;
}
.footer-col ul li h1{
    font-weight: 300;
}
.footer-col:last-child{
    display: flex;
    justify-content: space-between;
}
.footer-col:last-child ul:last-child{
    margin-left: 50px;
}
.footer-vertical-line{
    background-color: #c1c1c1;
    transform: rotate(180deg);
    margin-left: 35px;
    height: 150px;
    border-color: #c1c1c1;
}
.back-to-top-wrapper{
    display: flex;
    align-items: center;
}
.back-to-top{
    margin: 0 auto;
    position: relative;
}
.back-to-top::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 45px;
    height: 45px;
    transform: translate(-20%, -20%) rotate(45deg);
    border-top: 3px solid #460100;
    border-left: 3px solid #460100;
}
.comp-logo{
    display: flex;
    justify-content: flex-end;
    opacity: .95;
}
.comp-logo a{
    font-weight: 500;
    color: white;
    background-color:  #600101;
    padding: 7px;

}
.comp-logo a:hover{
    text-decoration: none;
}
/*----------------footer Конец---------------*/
@media screen and (max-width: 830px) {
    .toggle{
        clear: both;
        display: block;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        width: 100%;
        color: #fff;
        background: #e2443e;
        transition: all .1s linear;
    }
    .toggle:hover{
        background: #9b2d30;
    }
    #checkbox-menu:checked + label .touch li{
        opacity: 1;
        visibility: visible;
        transition: all .7s linear;
    }
    #checkbox-menu:checked + label .touch {
        height: 350px;
    }
    .vertical-nav-line{
        display: none;
    }
    .footer-row{
    margin: 25px 25px 0 25px;
    }
    .address{
    }
    .menu{
        padding-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0;
        transition: height .3s linear;
    }
    .menu li{
        display: flex;
        align-self: center;
        width: 95%;
        opacity: 0;
        visibility: hidden;
    }
    .menu li a{
        width: 95%;
        text-align: center;
        align-self: center;
        align-content: center;
    }
    .head-block-wrapper{
        flex-direction: column;
    }
    .head-block-col:first-child{
       margin: 0 auto;
       padding-bottom: 15px;
    }
    .header-button button{
        padding: 8px 15px;
        float: right;
        margin-left: 12px;
        font-size: 12px;
    }
    .head-logo{
        margin-right: 13px;
    }
    .head-info{
        font-size: 12px;
    }
    .head-logo img{
        margin: 0 auto;
    }
    .head-block-col:last-child{
        margin: 0 auto;
        padding-bottom: 15px;
    }
    .footer-bg{
        overflow: hidden;
        background-size:100% 50%;
        background-repeat: no-repeat;
        padding-top: 0;
    }
    .footer-row{
        flex-direction: column;
    }
    .feedback-form {
        width: 75%;
        background-position: center;
    }
    .footer-bg{
        background-image: none;
        background-color: #9b2d30;
        padding-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .address-col:last-child{
        float: none;
    }
    .address-form form{
        max-width: 350px;
    }
    .address-form form p{
        font-size: 12px;
    }
    .address-form form button{
        padding: 15px 20px;
        font-size: 15px;
    }
    .back-to-top{
        margin: 0 auto;
        width: 80px;
        height: 80px;
        background-color: #fff;
        padding: 10px;
        border-radius: 90px;
        border: none;
    }
    .back-to-top::after{
        left: 40%;
        bottom: 20%;
        border-top: 3px solid #9b2d30;
        border-left: 3px solid #9b2d30;
        height: 30px;
        width: 30px;
    }
    .feedback-wrapper{
        justify-content: center;
    }
    .feedback-form form{
        width: auto;
        max-width: 350px;
        margin: 0 ;
        font-size: 12px;
    }
    .price-col{
        margin-right: 50px;
        margin-left: 50px;
    }
}
@media screen and (max-width: 930px){
    .about-us-col img{
        display: none;
    }
    .about-us-col:last-child{
        margin: 0 auto;
    }
    .footer-col:last-child ul:first-child{
        margin-left: 30px;
    }
}
@media screen and (max-width: 800px){
    .footer-col:last-child ul:first-child{
        margin-left: 0;
    }
}
@media screen and (max-width: 720px){
    .services-text-bg{
        margin: 0 auto;
        height: 200px;
        max-width: 1400px;
    }
    .services-text{
        font-size: 22px;
    }
    .address-form{
        justify-content: center;
        margin: 0 auto;
    }
    .input-group{
    }
    .input-group-item input{
    }
}
@media screen and (max-width: 620px){
    .price-col img{
        width: 200px;
    }
    .price-col {
        margin: 0 auto;
    }
    .price-row{
        align-items: center;
    }
    .about-us-text{
        font-size: 17px;
    }
    .footer-col:first-child ul li:nth-child(2){
        margin-right: 20px;
    }
    .feedback-form form input::placeholder{
        font-size: 19px;
    }
    .feedback-form form input{
        padding: 7px 25px;
    }
}
@media screen and (max-width: 400px){
    .services-text-bg{
        margin: 0 auto;
        height: 250px;
    }
    .services-text{
        font-size: 20px;
    }
    .footer-col{
        font-size: 12px;
    }
    .about-us-row{
        height: 500px;
    }

    .feedback-form form input::placeholder{
        font-size: 15px;
    }

    
    .header-number{
        font-size: 9px;
        padding-right: 20px;
        font-weight: 600;
    }
    .feedback-form form input{
        padding: 7px 20px;
    }
}
@media screen and (min-width: 1600px){
    .menu li{
        display: flex;
        flex-direction: row;
    }
    .menu{
        padding-top: 0;
        padding-bottom: 0;
    }
    .vertical-nav-line{
        display: none;
    }
}
